- @products.each do |product|
  - if product.display_on_homepage
    %h3 
      .product-name
        = link_to product.name, product
      .price
        = "£#{product.price}"
      .description
        = product.description
